* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(237, 72, 17);
}
#puravida{
  color:rgb(237, 72, 17);
  font-size: large;
  font-weight: bold;
  font-size: 20px;
}
#pf{
  color:rgb(79, 17, 237);
  font-size: large;
  font-weight: bold;
  font-size: 20px;
}
.box {
    border: 1px solid rgb(43, 0, 255);
    display: flex;
  }
  .boxservicios{
    width: 870px;
    height: 600px;
    border-radius: 70px;
  }
  .images{
    width: 270px;
    height:350px;
  }

.encabezado {/*logo PURA VIDA*/
  height: 200px;
  background-image: url(/images/logo3-sinfondo2.png);
  background-repeat: no-repeat;
  background-position:750px 31px;

  background-size:contain;
  background-color:rgb(215, 245, 242);
  display: flex;
  font-size:40px;
  justify-content: space-around;
  align-items: center;
  
}

.navegador {
  background-color: rgb(198, 166, 166);
  /* background-color: rgb(102, 182, 73); */
  height: 50px;
  color: aqua;
  font-size: large;
  justify-content: space-evenly;
  align-items: center;  

  
}
.navegador>a{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color:rgb(196, 74, 166);
    border:rgb(64, 43, 226) solid 2px;
}
.navegador>a:hover{
    background-color: rgb(187, 187, 239);
    color: rgb(122, 7, 230);
    cursor: pointer;
}
/*INICIO DEL GRID*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 350px);
  /*grid-auto-rows: minmax(400px, auto);*/
}
.jumbotron {
  background-color: rgb(21, 184, 187);
  grid-row: 1/3;
  grid-column: 1/3;
  flex-wrap: wrap;
  padding: 32px;
}
.cgjumbotron{/*contenedor general del jumbotron*/
  width: 100%;
  height: 100%;
  /* padding: 32px;
  padding-left: 200px;
  padding-right: 200px; */
  align-items: center;
  justify-content: space-between;
}
.descripjumbo{/*contenedor de descripcion de jumbotron*/
  width: 50%;
  height: 80%;
  flex-direction: column;
  padding:100px

}
.titulojumbotron{
  font-size: 50px;
  font-weight:bolder;
  font-weight: 900;
  color: rgb(196, 151, 5);
  line-height: 100px;

}
.descrjumbotron{
line-height: 30px;
font-size: 20px;
color: rgb(0, 0, 0);
}
.btnjumbo{
  display: flex;
  justify-content: flex-end;

}
.btninscripcion{
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border:5px white solid;
  border-radius: 30px;
  color: white;
  background-color: blue;
  font-weight: bolder;
}
.btninscripcion:hover{
  color: rgb(235, 220, 220);
  border-color:rgb(235, 220, 220) ;
  background-color: rgb(12, 12, 163);
}
.btnplanfam{
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border:5px blue solid;
  border-radius: 30px;
  color: blue;
  background-color: white;
  font-weight: bolder;
}
.btnplanfam:hover{
  border-color: rgb(12, 12, 163);
  color: rgb(12, 12, 163);
  background-color: rgb(235, 220, 220);
}
.imagejumbo{/*contenedor de imagen de jumbotron*/
  width: 50%;
  height: 80%;
  background-image: url(/images/jumbotron3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border:10px white solid;
}

.servicios{
  background-color: rgb(51, 153, 153);
  grid-row: 3/7;
  grid-column: 1/3; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.aeroyoga {
  background-color: rgb(130, 221, 140);
}
.aeroyogakids {
  background-color: rgb(244, 221, 50);
}
.senderismo {
  background-color: rgb(192, 159, 230);
}
.natacion {
  background-color: rgb(109, 106, 146);
}
.galeria {
  background-color: rgb(159, 205, 205);
  grid-row: 7/9;
  grid-column: 1/3; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.comentarios {
  background-color: rgb(220, 233, 233);
  grid-row: 9/11;
  grid-column: 1/3;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

/*FIN DEL GRID*/
.boxref{
  background-color: beige;
  width: 270px;
  height:350px;
  border-radius: 20px;
}
.contacto {
  background-color: rgb(255, 0, 208);

 
  grid-column: 1/3;
}
.info{
    background-color: black;
    height: 280px;
}